.animated-text {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }
  
  .fade-in-up {
    opacity: 1;
    transform: translateY(0);
  }

.custom-navbar{
    background-color: #1B1B1B;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    color: white;
}

.custom-navbar a{
    color: white;
    text-decoration: none;
}

.custom-navbar a:hover{
    color: #FFD700;
}

body{
    background-color: #080808;
    color: white;
}

.TEXT{
    color: #c5c5c5;
}

img{
     max-Width: "50px";
     width: "100%";
     height: "auto";
}

