@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bitcount+Grid+Double:wght@100..900&family=Cal+Sans&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Italianno&family=Playwrite+VN+Guides&family=Sanchez:ital@0;1&family=Share+Tech&display=swap');


@import "tailwindcss";